<div class="row">
  <div class="col-12">
    
    <div class="col-12 text-center">
      <h1 class="display-5 fw-bold text-primary">
        <i class="fa-solid fa-money-bill"></i> Transactions</h1>
    </div>
    <div class="col-6 mx-auto text-center">
      <select class="form-select" (change)="onAccountSelected($event)">
        <option value="">Select account</option>
        <ng-container *ngFor="let checkingAccount of checkingAccounts">
          <option [value]="checkingAccount.accountNumber">
            <b>Checking account: </b> {{ checkingAccount.accountNumber }} | {{ checkingAccount?.availableAmount | currency:'EUR':'symbol' }}
          </option>
        </ng-container>
        <ng-container *ngFor="let savingAccount of savingAccounts">
          <option [value]="savingAccount.accountNumber">
            <b>Saving account: </b> {{ savingAccount.accountNumber }} | {{ savingAccount?.availableAmount | currency:'EUR':'symbol' }}
          </option>
        </ng-container>
      </select>
    </div>
    <div class="col-12">
      <p class="text-center fs-5 fw-bold">{{ transactionsPage ? (transactionsPage.totalElements | number) : 0 }} Transactions</p>
      <table class="table table-striped table-hover table-bordered">
        <thead class="table-dark">
          <tr>
            <th scope="col">Operation</th>
            <th scope="col">Date</th>
            <th scope="col">Amount</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let transaction of transactionsPage?.content">
            <td>
              <i class="fa-solid fa-arrow-up text-success" *ngIf="transaction?.operation == 'CREDIT'"></i>
              <i class="fa-solid fa-arrow-down text-danger" *ngIf="transaction?.operation == 'DEBIT'"></i>
                {{ transaction?.operation }}
            </td>
            <td>{{ transaction?.operationDate | date:'full' }}</td>
            <td [ngClass]="{'text-danger': transaction?.operation == 'CREDIT', 'text-success': transaction?.operation == 'DEBIT'}">
              {{ transaction?.amount | currency:'EUR':'symbol' }}
            </td>
          </tr>
          <tr *ngIf="loading" align="center">
              <td colspan="3">Loading ...</td>
          </tr>
          <tr *ngIf="!loading && transactionsPage?.empty" align="center">
              <td colspan="3">
                <i class="fa-solid fa-exclamation"></i> No transaction
              </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-12 text-center" *ngIf="transactionsPage">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item" [ngClass]="{'disabled': transactionsPage!.first || loading}">
            <a (click)="onPreviousPage()" class="page-link" style="cursor: pointer;" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li>
            <span aria-hidden="true">
              Page {{ transactionsPage!.number }} of {{ transactionsPage!.totalPages }}
            </span>
          </li>
          <li class="page-item" [ngClass]="{'disabled': transactionsPage!.last || loading}">
            <a (click)="onNextPage()" class="page-link" style="cursor: pointer;" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>