<div class="row">
    <div class="col-12 text-center">
        <h1 class="display-5 fw-bold text-primary">
            <i class="fa-solid fa-file-invoice"></i> Checking Accounts
        </h1>
        <div class="row text-center mt-5" *ngIf="loading">
            <app-loader></app-loader>
        </div>
    </div>
    <div class="col-12" *ngFor="let checkingAccount of checkingAccounts">
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th scope="col">Account Number</th>
                    <th scope="col">{{ checkingAccount?.accountNumber }}</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr>
                    <th>Available Amount</th>
                    <td>{{ checkingAccount?.availableAmount | currency:'EUR':'symbol' }}</td>
                </tr>
                <tr>
                    <th>Accounted Amount</th>
                    <td>{{ checkingAccount?.accountedAmount | currency:'EUR':'symbol' }}</td>
                </tr>
                <tr>
                    <th>Authorized Overdraft Amount</th>
                    <td>{{ checkingAccount?.authorizedOverdraftAmount | currency:'EUR':'symbol' }}</td>
                </tr>
                <tr>
                    <th>Risk</th>
                    <td>{{ checkingAccount?.riskLevel }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>